* {
  box-sizing: border-box;
}

body {
  /* background-image: url("https://source.unsplash.com/random");
  background-size: cover; */
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  color: rgb(255, 255, 255);
}

/* 배경 투명도 주기 */
/* background-color, opacity 효과를 따로 주니, 글자(자식요소)도 같이 투명해짐
-> background-color: rgb(254, 243, 255, 0.1); 이런식으로 작성하면 자식요소는 투명해지지 X */
.quote, .col1, .col2, .col3 {
  background-color: rgb(254, 243, 255, 0.2);
  border-radius: 10px;
}

/* 명언 */
.quote {
  min-width: 550px;
}

/* 날짜 및 로그인 */
.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#weather {
  padding-top: 5px;
  padding-left: 5px;
  font-size: 20px;
}

#clock {
  padding: 100px 0 40px 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.hidden {
  display: none;
}

#askName {
  font-size: 40px;
  padding-bottom: 10px;
}

.userName {
  background-color: transparent;
}

#login-form {
  display: flex;
  margin-bottom: 10px;
}

#login-form input[type="text"] {
  height: 50px;
  width: 200px;
  color: aliceblue;
}

input[type="submit"] {
  border: none;
  border-radius: 8%;
  font-weight: bold;
  background-color: beige;
  height: 50px;
  width: 75px;
  margin-left: 5px;
}

/* To Do List */
#todo-form input[type="text"] {
  height: 30px;
  width: 200px;
  background-color: transparent;
}

li {
  list-style: none;
}

.todaysWork {
  font-size: 30px;
}
